<div class="article-date">
  <span
    class="article-date-link"
    data-aos="{{.Site.Params.animation.options.article.date}}"
  >
    Published on:
    <time datetime="{{ .Date }}" itemprop="datePublished"
      >{{ .Date.Format .Site.Params.dateFormat }}</time
    >
  </span>
  <span
    class="article-date-link"
    data-aos="{{.Site.Params.animation.options.article.date}}"
  >
    Last updated:
    <time id="post-update-time"
      >{{ .Lastmod.Format .Site.Params.dateFormat }}</time
    >
  </span>
</div>
